@import "variables.less";
@import "mixins";

.b-offer-properties {
	text-align: center;

	@media (min-width: @grid-float-breakpoint) {
		background: #ffffff;
		box-shadow: 1px 2px 40px rgba(0, 0, 0, .1);
		border-radius: 10px;

		position: absolute;
		left: 50%;
		bottom: -40px;
		transform: translateX(-50%);
		padding: 16px 12px 11px;
	}
}

.b-offer-properties__item {
	margin: 0 12px 20px;

	@media (min-width: @screen-sm-min) {
		display: inline-block;
		margin-bottom: 0;
	}
}

.b-offer-properties__title {
	font-size: 10px;
	color: #bdbdbd;
	text-transform: uppercase;
	margin-bottom: 0;
	letter-spacing: 0.2em;
}

.b-offer-properties__value {
	font-size: 40px;
	margin-bottom: 0;
}
