@import "variables.less";
@import "mixins";
@import "mymixins";

.b-portfolio-item {
}

.b-portfolio-item__view {
	background: left top repeat url("../../assets/img/banner-background.png");
	padding: 80px 15px;
	margin: 0 -15px;
	border-radius: 10px;
	text-align: center;

	@media (min-width: @grid-float-breakpoint) {
		padding: 105px 15px;
		margin: 0 -15px;
	}

	@media (min-width: 1200px) {
		padding: 105px 40px+15px;
		margin: 0 -40px;
	}
}

.fancybox-skin .b-portfolio-item__view {
	border-radius: 0;
}

.b-portfolio-item__image {
	margin-left: auto;
	margin-right: auto;

	@media (min-width: @grid-float-breakpoint) {
		.img-responsive();
	}
}

.b-portfolio-item__lead {
	font-size: 20px;
	color: @text-muted;

	margin: 20px -15px;

	display: flex;
	flex-flow: row wrap;

	@media (min-width: @grid-float-breakpoint) {
		font-size: 24px;
		margin: 45px - 6px -16px;
	}
}

.b-portfolio-item__info {
	display: inline-block;
	margin: 6px 15px;
	width: 100%;

	@media (min-width: @screen-sm-min) {
		width: ~"calc(100% / 2 - 16px * 2)";
	}
	@media (min-width: @grid-float-breakpoint) {
		line-height: 28px;
		margin: 6px 16px;
	}
	@media (min-width: @screen-xl-min) {
		width: auto;
	}
}

.b-portfolio-item__info_category {
	@media (min-width: @screen-sm-min) {
		order: 1;
		width: ~"calc(70% - 16px * 2)";
	}
	@media (min-width: @screen-xl-min) {
		order: 1;
		width: auto;
	}
}

.b-portfolio-item__info_style {
	@media (min-width: @screen-sm-min) {
		order: 3;
		width: ~"calc(70% - 16px * 2)";
	}
	@media (min-width: @screen-xl-min) {
		order: 2;
		width: auto;
	}
}

.b-portfolio-item__info_date {

	@media (min-width: @screen-sm-min) {
		width: ~"calc(30% - 16px * 2)";
		order: 2;
		text-align: right;
	}

	@media (min-width: @screen-xl-min) {
		order: 3;
		flex: 1 0 auto;
		text-align: right;
		width: auto;
	}
}

.b-portfolio-item__info_share {
	padding: 2px 0;

	@media (min-width: @screen-sm-min) {
		order: 4;
		width: ~"calc(30% - 16px * 2)";
	}
	@media (min-width: @screen-xl-min) {
		padding: 1px 0;
		width: auto;
	}
}

.b-portfolio-item__share {
	@media (min-width: @screen-sm-min) {
		float: right;
	}
}

.b-portfolio-item__link {
	color: @text-color;
	border-bottom: 2px solid rgba(0, 0, 0, .05);

	&:hover, &:active, &:focus {
		text-decoration: none;
		border-bottom-color: @link-hover-color;
	}
}

.b-portfolio-item__text {
	margin-bottom: 50px;
}

.b-portfolio-item__button {
	font-size: 20px;

	@media (min-width: @screen-sm-min) {
		font-size: 24px;
	}

	font-weight: bold;
	padding-left: 19px;
	padding-right: 19px;
	margin-bottom: 63px;

	&:hover, &:active, &:focus {
		background-color: #9eb000;
		border-color: #9eb000;
	}
}
