@import "variables.less";
@import "mixins";

.b-social-links {
	display: flex;
	flex-flow: row wrap;

	margin: 32px auto 0;

	@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
		margin-top: 0;
	}
	@media (min-width: @screen-md-min) {
		width: 141px;
	}
}

.b-social-links__item {
	flex-basis: 100%/6;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;

	@media (min-width: @screen-md-min) {
		flex-basis: 100%/3;
	}
}

.b-social-links__link {
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;

	//&:hover, &:active, &:focus {
	//	background-position: left bottom;
	//}
}

.b-social-links__link_vk {
	background-image: url("../../assets/img/social-links/Vk.svg");
	width: 35px;
	height: 20px;

	&:hover, &:active, &:focus {
		background-image: url("../../assets/img/social-links/hover/Vk.svg");
	}
	//width: image-width("../../assets/img/social-links/vk.png");
	//height: image-height("../../assets/img/social-links/vk.png")/2;
}

.b-social-links__link_fb {
	background-image: url("../../assets/img/social-links/Facebook.svg");
	width: 16px;
	height: 28px;

	&:hover, &:active, &:focus {
		background-image: url("../../assets/img/social-links/hover/Facebook.svg");
	}

	//width: image-width("../../assets/img/social-links/fb.png");
	//height: image-height("../../assets/img/social-links/fb.png")/2;
}

.b-social-links__link_tw {
	background-image: url("../../assets/img/social-links/Twitter.svg");
	width: 30px;
	height: 24px;

	&:hover, &:active, &:focus {
		background-image: url("../../assets/img/social-links/hover/Twitter.svg");
	}
	//width: image-width("../../assets/img/social-links/tw.png");
	//height: image-height("../../assets/img/social-links/tw.png")/2;
}

.b-social-links__link_instagram {
	background-image: url("../../assets/img/social-links/Instagram.svg");
	width: 30px;
	height: 30px;

	&:hover, &:active, &:focus {
		background-image: url("../../assets/img/social-links/hover/Instagram.svg");
	}
	//width: image-width("../../assets/img/social-links/instagram.png");
	//height: image-height("../../assets/img/social-links/instagram.png")/2;
}

.b-social-links__link_youtube {
	background-image: url("../../assets/img/social-links/YouTube.svg");
	width: 27px;
	height: 30px;

	&:hover, &:active, &:focus {
		background-image: url("../../assets/img/social-links/hover/YouTube.svg");
	}
	//width: image-width("../../assets/img/social-links/youtube.png");
	//height: image-height("../../assets/img/social-links/youtube.png")/2;
}

.b-social-links__link_spark {
	background-image: url("../../assets/img/social-links/Spark.svg");
	width: 31px;
	height: 30px;

	&:hover, &:active, &:focus {
		background-image: url("../../assets/img/social-links/hover/Spark.svg");
	}
	//width: image-width("../../assets/img/social-links/spark.png");
	//height: image-height("../../assets/img/social-links/spark.png")/2;
}
