@import "variables.less";
@import "mixins";
@import "mymixins";

.b-subscribe {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 115px;
}

.b-subscribe__title {
	font-weight: bold;
	margin-bottom: 10px;
	line-height: @headings-line-height;

	.my-heading-h1();
}

.b-subscribe__lead {
	margin-bottom: 40px;

	.my-heading-lead();
}

.b-subscribe__form {
	.form-group {
		@media (max-width: @screen-sm-max) {
			margin-left: 15px;
			margin-right: 15px;
			margin-bottom: 20px;
		}
	}
}

.b-subscribe__input {
	background: #f4f4f4;
	color: @text-color;
	box-shadow: none !important;
	border: none;
	font-size: 24px;
	padding: 13px 12px;
	height: 52px;
	text-align: center;

	@media (min-width: @screen-md-min) {
		width: 461px !important;
	}

	&:focus {
		background-color: #f3fcfa;
		box-shadow: none;
	}
}

.b-subscribe__button {
	font-weight: bold;
	padding-left: 22px;
	padding-right: 22px;
	margin-left: 15px;
	vertical-align: top;
}

.b-subscribe_theme_alt {
	.b-subscribe__button {
		background-color: #1abc9c;
		border-color: #1abc9c;

		&:hover, &:active, &:focus, &.active {
			background-color: #18ad90;
			border-color: #18ad90;
		}
	}
}
