@import "variables";
@import "mixins";
@import "mymixins";

.browserupgrade {
	margin: 0 0 0.2em;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
	text-align: center;
}

html, body {
	//height: 100%;

	//-webkit-font-smoothing: antialiased;
}

/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar */
body {
	//min-width: 1080px;
	//position: relative;

	font-weight: 300;
	letter-spacing: -0.015em;
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
//.container {
//	width: 1030px;
//	max-width: none !important;
//}

/**
* Generate .g-mt10, .g-mt-20, .g-mb10 classes
*/
@iterations: 8;

.margin-top-loop (@i) when (@i > 0) {
	.g-mt@{i}0 {
		margin-top: @i * 10px !important;
	}

	.margin-top-loop(@i - 1);
}

.margin-top-loop(@iterations);

.margin-bottom-loop (@i) when (@i > 0) {
	.g-mb@{i}0 {
		margin-bottom: @i * 10px !important;
	}

	.margin-bottom-loop(@i - 1);
}

.margin-bottom-loop(@iterations);

.margin-left-loop (@i) when (@i > 0) {
	.g-ml@{i}0 {
		margin-left: @i * 10px !important;
	}

	.margin-left-loop(@i - 1);
}

.margin-left-loop(@iterations);

.margin-right-loop (@i) when (@i > 0) {
	.g-mr@{i}0 {
		margin-right: @i * 10px !important;
	}

	.margin-right-loop(@i - 1);
}

.margin-right-loop(@iterations);

/**
* Generate .g-pt10, .g-pt20, .g-pb10 classes
*/

.padding-top-loop (@i) when (@i > 0) {
	.g-pt@{i}0 {
		padding-top: @i * 10px !important;
	}

	.padding-top-loop(@i - 1);
}

.padding-top-loop(@iterations);

.padding-bottom-loop (@i) when (@i > 0) {
	.g-pb@{i}0 {
		padding-bottom: @i * 10px !important;
	}

	.padding-bottom-loop(@i - 1);
}

.padding-bottom-loop(@iterations);

.padding-left-loop (@i) when (@i > 0) {
	.g-pl@{i}0 {
		padding-left: @i * 10px !important;
	}

	.padding-left-loop(@i - 1);
}

.padding-left-loop(@iterations);

.padding-right-loop (@i) when (@i > 0) {
	.g-pr@{i}0 {
		padding-right: @i * 10px !important;
	}

	.padding-right-loop(@i - 1);
}

.padding-right-loop(@iterations);

.super-transition() {
	-webkit-transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-moz-transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-o-transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985);
	transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-moz-transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-o-transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985);
	transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985); /* custom */
}

.resizable-x {
	.resizable(horizontal);
}

.resizable-y {
	.resizable(vertical);
}

/* .btn-success */
.btn-success {
	&.active,
	&:active,
	&:hover,
	&.active.focus,
	&.active:focus,
	&.active:hover,
	&:active.focus,
	&:active:focus,
	&:active:hover {
		background-color: #9eb000;
		border-color: #9eb000;
	}
}

.open > .dropdown-toggle.btn-success {
	&, &.focus, &:focus, &:hover {
		background-color: #9eb000;
		border-color: #9eb000;
	}
}

/* .btn-primary */
.btn-primary {
	&.active,
	&:active,
	&:hover,
	&.active.focus,
	&.active:focus,
	&.active:hover,
	&:active.focus,
	&:active:focus,
	&:active:hover {
		background-color: #841893;
		border-color: #841893;
	}
}

.open > .dropdown-toggle.btn-primary {
	&, &.focus, &:focus, &:hover {
		background-color: #841893;
		border-color: #841893;
	}
}

/* .btn-info */
.btn-info {
	&.active,
	&:active,
	&:hover,
	&.active.focus,
	&.active:focus,
	&.active:hover,
	&:active.focus,
	&:active:focus,
	&:active:hover {
		background-color: #007cb5;
		border-color: #007cb5;
	}
}

.open > .dropdown-toggle.btn-info {
	&, &.focus, &:focus, &:hover {
		background-color: #007cb5;
		border-color: #007cb5;
	}
}

/* .btn-lg */
.btn-group-lg > .btn, .btn-lg {
	.my-heading-h3();
	font-size: 20px;
	line-height: 1;

	@base-padding: 11px;

	padding-top: @base-padding;
	padding-bottom: @base-padding + 3px;

	@media (min-width: @screen-md-min) {
		padding-bottom: @base-padding + 4px;
	}
}

/* Remove inner shadow active button */
.btn.active, .btn:active {
	box-shadow: none;
}

.fancybox-overlay {
	background: rgba(0, 0, 0, .8);

	@media (min-width: @grid-float-breakpoint) {
		background: rgba(0, 0, 0, .65);
	}
}

.fancybox-close {
	top: -53px;
	right: 21px;
	width: 32px;
	height: 32px;

	background: left top no-repeat url("../../assets/img/close.svg");
	opacity: .8;
	transition: all .1s ease-out;

	@media (min-width: @screen-md-min) {
		right: 0;
	}

	@media (min-width: @grid-float-breakpoint) {
		opacity: .3;
	}

	&:hover, &:active, &:focus {
		opacity: 1;
	}
}

.fancybox-skin {
	color: @text-color;
	border-radius: 0;
	box-shadow: none !important;
	background: #fff;
	margin-bottom: 50px;
}

.fancybox-nav {
	&:hover span {
		color: #fff;
		opacity: 1;
	}

	span {
		visibility: visible;
		background: none !important;
		color: #fff;
		opacity: .3;
		margin-top: -13px;
		top: 353px;

		width: 26px;
		height: 26px;
	}
}

.fancybox-prev {
	left: -100px;
	width: 100px;

	span {
		left: 50px;
		border-left: solid 6px currentColor;
		border-top: solid 6px currentColor;
		transform: rotate(-45deg);
	}
}

.fancybox-next {
	right: -100px;
	width: 100px;

	span {
		right: 50px;
		border-right: solid 6px currentColor;
		border-bottom: solid 6px currentColor;
		transform: rotate(-45deg);
	}
}

.fancybox-type-image {
	max-width: ~"calc(100vw - 220px)";

	.fancybox-inner {
		max-width: ~"calc(100vw - 220px)";
	}
	.fancybox-nav {
		span {
			top: 50%;
		}
	}
}

.alert-block {
	text-align: left;
}

[data-rjs-processed="true"][width="0"][height="0"] {
	width: auto !important;
	height: auto !important;
}

.form-control {
	@media (min-width: @grid-float-breakpoint) {
		height: 75px;
	}
}

.form-group {
	@media (min-width: @grid-float-breakpoint) {
		margin-bottom: 50px;
	}
}

.scrollbar-light > .scroll-content.scroll-scrollx_visible {
	padding-bottom: 18px;
}
