@import "variables";
@import "mixins";

.mylink(@color, @border-color, @hover-color) {
	display: inline-block;
	color: @color;
	border-bottom: 2px solid @border-color;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: @hover-color;
		border-bottom-color: @hover-color;
	}
}

.mylink-extended(@color: @text-color, @border: 2px solid rgba(37,37,37,.05), @hover-color: @link-hover-color) {
	display: inline-block;
	color: @color;
	border-bottom: @border;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: @hover-color;
		border-bottom-color: @hover-color;
	}
}

.my-heading-h1() {
	font-size: 30px;

	@media (min-width: @screen-md-min) {
		font-size: 36px;
	}

	@media (min-width: @grid-float-breakpoint) {
		font-size: 40px;
	}
}

.my-heading-lead() {
	font-size: 20px;

	@media (min-width: @screen-md-min) {
		font-size: 24px;
	}

	@media (min-width: @grid-float-breakpoint) {
		font-size: 30px;
	}
}

.my-heading-h3() {
	font-size: 18px;

	@media (min-width: @screen-md-min) {
		font-size: 20px;
	}

	@media (min-width: @grid-float-breakpoint) {
		font-size: 24px;
	}
}

.my-heading-h4() {
	font-size: 16px;

	@media (min-width: @screen-md-min) {
		font-size: 18px;
	}

	@media (min-width: @grid-float-breakpoint) {
		font-size: 20px;
	}
}
