@import "variables.less";
@import "mixins";

.b-offer {
	margin-top: 28px;
	margin-bottom: 100px;
}

.b-offer__cover {
	position: relative;
	margin-bottom: 30px;

	@media (min-width: @screen-sm-min) {
		margin-bottom: 50px;
	}
	@media (min-width: @grid-float-breakpoint) {
		margin-bottom: 88px;
	}
}

.b-offer__image {
	border-radius: 13px;
}

.b-offer__properties {
	margin-top: 40px;
}

.b-offer__rub {
	font-family: 'PT Sans Narrow', sans-serif;
}

.b-offer__text {

}

.b-offer__bottom {
	text-align: center;
	font-size: 20px;

	@media (min-width: @screen-lg-min) {
		font-size: 24px;
	}

	.btn {
		font-weight: bold;
		font-size: 20px;

		@media (min-width: @screen-md-min) {
			margin: 0 13px;
		}

		@media (min-width: @screen-lg-min) {
			font-size: @font-size-large;
		}
	}
}

.b-offer__bottom-text {
	margin: 15px 0;

	@media (min-width: @screen-md-min) {
		display: inline;
	}
}
