@import "variables.less";
@import "mixins";
@import "mymixins";

.b-contact-links {
	text-align: center;
	margin-top: 75px;
	margin-bottom: 90px;
}

.b-contact-links__header {
	.my-heading-h1();
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 10px;
}

.b-contact-links__lead {
	.my-heading-lead();
}

.b-contact-links__list {
	margin: 44px auto 0;

	width: (89px + 10px + 4px) * 2;

	@media (min-width: @screen-sm-min) {
		width: (89px + 10px + 4px) * 3;
	}

	@media (min-width: @screen-md-min) {
		width: auto;
	}
}

.b-contact-links__item {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 89px;

	width: 89px;
	height: 89px;
	display: inline-block;
	margin: 5px;
	opacity: .9;

	&:hover, &:active, &:focus {
		opacity: 1;
	}
}

.b-contact-links__item_fb {
	background-image: url("../../assets/img/contact-links/Facebook.svg");
}

.b-contact-links__item_vk {
	background-image: url("../../assets/img/contact-links/Vk.svg");
}

.b-contact-links__item_tw {
	background-image: url("../../assets/img/contact-links/Twitter.svg");
}

.b-contact-links__item_instagram {
	background-image: url("../../assets/img/contact-links/Instagram.svg");
}

.b-contact-links__item_youtube {
	background-image: url("../../assets/img/contact-links/YouTube.svg");
}

.b-contact-links__item_spark {
	background-image: url("../../assets/img/contact-links/Spark.svg");
}
