<!--[if lte IE 8]>
p.browserupgrade.
    You are using an #[strong outdated] browser.
    Please #[a(target="_blank", href="http://browsehappy.com/") upgrade your browser] to improve your experience.
<!--<![endif]-->

nav.navbar.navbar-default.b-navbar
    .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='index.html'): .b-header__logo
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='index.html'): .b-header__logo
                ul.nav.navbar-nav
                    li: a(href='portfolio_type_1.html') Портфолио
                    li: a(href='reviews.html') Отзывы
                    li: a(href='prices.html') Стоимость
                    li: a(href='blog.html') Справочник клиента
                    li: a(href='contacts.html') Контакты
                a.btn.btn-success.btn-lg.navbar-btn.navbar-right(href='order_1.html') Заказать баннер
